<div class="teamacle-container">
    <div class="chat-center-block" style="visibility: visible;">
        <div class="chat-center-tip tip-open">
            <p>Contact Us</p>
            <span class="triangle-right"></span>
        </div>
        <a class="chat-center-button">
            <img src="http://center-plugin.chat.teamacle.com/static/images/plugin/chat_plugin_teamacle.svg">
        </a>
    </div>
    <div id="teamacle-chat-dialog" class="chat-center-dialog">
        <iframe id="teamacle-chat-dialog-iframe" class="" src="http://center-plugin.chat.teamacle.com/centerPluginInit#ctid=419427621&amp;rmode=2"></iframe>
        <div class="ifrm-loading ifrm-loading-hidden">
            <img style="width: 146px; height: 146px;" src="http://center-plugin.chat.teamacle.com/static/images/gif/plugin_login_loading.gif">
            <p style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 18px; color: #97ACBE; font-weight: lighter">Loading Live Chat</p>
        </div>
    </div>
</div>