<link rel="stylesheet" href="/assets/css/foot.css">
<div id="footer" style="background-color: #1479e5;">
    <div class="container">
     
        <div class="categories">
            <h4>Team:</h4>
            <ul>
                <li>
                    <a href="#">Yuqi Tang</a>
                </li>
                <li>
                    <a href="#">Yada Zhao</a>
                </li>
                <li>
                    <a href="#">Yuhao Tang</a>
                </li>
                <li>
                    <a href="#">Yuhang Zhang</a>
                </li>
            </ul>
        </div>

        <div class="cities row">
            <div class="col-sm-8 col-xs-12">
                <h4>Contact us:</h4>
                <ul>
                    <li>
                        <i class="fas fa-envelope"></i> <a href="http://ytang19@stevens.edu"> ytang19@stevens.edu</a>
                    </li>
                </ul>
            </div>
        </div>


        <p class="offset-top-15" style="font-size: 12px; line-height: 1.6">  </p>
    </div>
</div>
