<link rel="stylesheet" href="/assets/css/pop.css">
<div class='modal' id='modal1'>
    <div class='content'>
        <h1 class='title'>This is a modal</h1>
        <p>
            Here is some text and stuff. cool cool
        </p>
        <a class='btn_pop close-modal' data-modal="#modal1" href="#">K Bye</a>
    </div>
</div>