<link rel="stylesheet" href="/assets/css/sidebar.css">

<div class="article-left-btn-group is-sticky" id="article-left-btn-group242358">
    <ul data-id="242358">

        <li>
            <a href="">
                <i class="icon icon-article icon-article-wb js-weibo js-share-article" data-location="article" data-f="pc-weibo-article"
                    aid="242358"></i>
            </a>
        </li>

        <li>
            <a href="">
                <i class="icon icon-article icon-article-qzone js-qzone js-share-article" data-location="article" data-f="pc-qzone-article"
                    aid="242358"></i>
            </a>
        </li>

        <li>
            <a class="js-article-pl-anchor">
                <i class="icon icon-article icon-article-pl">评论</i>
            </a>
        </li>


        <li>
            <a class="js-collection-article">
                <i class="icon icon-article icon-article-col">收藏</i>
            </a>
        </li>

        <li class="detail-slideBar-zan js-detail-slideBar-zan" data-like="1">
            <div class="zan-nostatus show">
                <img class="slideZan" src="https://static.huxiucdn.com/www/image/reward/zan_nofont.png" alt="">
                <span>点赞</span>
            </div>
            <div class="zan-alertystatus hide">
                <img class="slideZanActive" src="https://static.huxiucdn.com/www/image/reward/zan_active_nofont.png" alt="">
                <span>点赞</span>
            </div>
        </li>

    </ul>
</div>