<link rel="stylesheet" href="/assets/css/build.css">
<div class="user-info-warp">
    <div class="user-head-box">
        <div class="user-face">
            <a href="/user/setting/account.html" target="_blank">
                <img src="https://img.huxiucdn.com/auth/data/avatar/2.jpg?imageView2/1/w/187/h/187/|imageMogr2/strip/interlace/1/quality/85/format/jpg">
            </a>
        </div>
        <div class="user-name">
            <a href="/user/setting/account.html" target="_blank">
                嗅友eqigd </a>
            <a href="/vip" target="_blank"></a>
        </div>
        <div class="user-one">
            <span class="show-span show-yijuhua">
                <span class="show-span js-edit-one">添加一句话介绍</span>
            </span>
            <span class="hide-edit hide">
                <input class="" maxlength="15" value="" id="yijuhua" placeholder="一句话介绍">
                <br>
            </span>
            <span class="hide-edit js-save-one hide">保存</span>
            <span class="hide-edit hide js-edit-one">&nbsp;&nbsp;取消</span>
        </div>

        <a href="/vip" class="btn btn-user-edit btn-huxiu-vip b-f60">开通会员</a>
    </div>
    <div class="user-info-box new-user-info-box">
        <div class="clearfix">
            <div class="col-lg-5">
                <div class="user-info">
                    <i class="icon icon-user-point"></i>
                    公司：
                    <span class="c2">未填写</span>
                </div>
                <div class="user-info">
                    <i class="icon icon-user-point"></i>
                    职业：
                    <span class="c2">未填写</span>
                </div>
                <div class="user-info">
                    <i class="icon icon-user-point"></i>
                    邮箱：
                    <span class="c2">未填写</span>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="user-info">
                    <i class="icon icon-user-point"></i>
                    微博：
                    <span class="c2">未填写</span>
                </div>
                <div class="user-info">
                    <i class="icon icon-user-point"></i>
                    微信：
                    <span class="c2">未填写</span>
                </div>
                <div class="user-info wallet">
                    <div class="clearfix">
                        <p class="pull-left">
                            <i class="icon icon-user-point"></i>
                            钱包余额：
                            <span class="withdraw-money">0</span>元
                        </p>
                    </div>
                    <p class="font">提现功能即将在APP端开放</p>
                </div>
                <div class="user-info rewardStatus-mainSwitch clearfix">
                    <span>
                        <i class="icon icon-user-point"></i>
                        赞赏状态：已开启 </span>
                    <span class="switch js-rewardMainSwitch" data-reward-status="0">关闭</span>
                </div>
            </div>
        </div>
        <div class="btn-box new-edit-btn">
            <a href="/user/setting.html" class="btn-user-new-edit pull-right">
                <img style="width:auto;" src="https://static.huxiucdn.com/www/image/reward/user_info_editIcon.png" alt="">修改资料
            </a>
            
        </div>
        <div class="more-user-info-box grade-warp more-myself-warp">
        </div>
    </div>
</div>